.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 2%;
}

navbar h1 img {
    height: 50px;
    width: 0px;
    object-fit: contain;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

